---
import Whitespace from "../Whitespace/Whitespace.astro";
import Divider from "../Divider/Divider.astro";

const { sectionTitle, sectionOrder } = Astro.props;
---

<div class="section-header">
  <div class="section-header-container">
    <div class="section-title"><p>{sectionTitle}</p></div>
    <div class="section-order"><p>/{sectionOrder}</p></div>
  </div>
</div>
<Divider />
<section class="container">
  <slot />
</section>
<Whitespace />

<style>
  .section-header .section-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0;
    font-size: 16px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .container {
    width: 100%;
  }

  .container::after {
    content: "";
    display: table;
    clear: both;
  }

  .section-title {
    font-weight: 700;
  }

  .section-order {
    opacity: 0.7;
  }
</style>
