---

---

<div>
  <slot />
</div>

<style>
  div {
    position: relative;
    height: 100vh;
    max-width: 45rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
