---

---

<div class="wrapper">
  <div class="container">
    <slot />
  </div>
</div>

<style>
  .wrapper {
    margin-inline: auto;
    width: min(95rem, 90vw);
    min-height: 100vh
  }

  .container {
    width: 100%;
  }
</style>
