---
const { data } = Astro.props;
interface Project {
  titulo: string;
  descripcion: string;
  link: string;
  tecnologias: string[];
}
---

<ul class="card-list">
  {
    data.map(({ link, titulo, descripcion }: Project) => (
      <li>
        <a
          class="card-link"
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Learn more about ${titulo}`}
        >
          <h3>{titulo}</h3>
          <p>{descripcion}</p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  h3 {
    margin: 0;
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  li {
    opacity: 0;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    cursor: pointer;
  }
  .card-link {
    display: block;
    padding: 1rem;
  }
</style>
