---
const { text, repeatCount } = Astro.props;
---

<div class="marquee">
  <ul class="marquee__inner">
    {
      Array.from({ length: repeatCount }).map((_) => (
        <li class="marquee__item">{text}</li>
      ))
    }
  </ul>
</div>

<style>
  .marquee[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(
      90deg,
      transparent,
      white,
      10%,
      white,
      98%,
      transparent
    );
  }

  .marquee__inner {
    display: flex;
    gap: 1rem;
  }

  .marquee[data-animated="true"] .marquee__inner {
    animation: scroll-animation 40s linear infinite;
    width: max-content;
  }

  @keyframes scroll-animation {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const marquee = document.querySelector(".marquee");
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
      const marqueeInner = marquee.querySelector(".marquee__inner");
      Array.from(marqueeInner.children).forEach((item) => {
        const clone = item.cloneNode(true) as HTMLElement;
        clone.setAttribute("aria-hidden", "true");
        marqueeInner.appendChild(clone);
      });
      marquee.setAttribute("data-animated", "true");
    }
  });
</script>
