---
// Import the styles
import { Image } from "astro:assets";
import DiegoCano from "../../assets/img.png";
import "./style.sass";

// Arrays for name and lastname
const name = ["D", "I", "E", "G", "O"];
const lastName = ["C", "A", "N", "O"];
---

<!-- Component structure -->
<div class="header montserrat">
  <div class="image-container">
    <Image src={DiegoCano} alt="Background Image" loading="lazy" class="img" />
  </div>
  <div class="container">
    <div class="names-container">
      <div class="header-content item-1">
        {
          name.map((letter) => (
            <div class="letter">
              <div class="letter-wrapper">{letter}</div>
            </div>
          ))
        }
      </div>
      <div class="header-content item-2">
        {
          lastName.map((letter) => (
            <div class="letter">
              <div class="letter-wrapper">{letter}</div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="header-content item-3">
      <div class="title-wrapper">WEB DEVELOPER</div>
    </div>
  </div>
</div>

<script src="./script.ts"></script>
