---
const header = ["DIEGO CANO", "WEB DEVELOPER"];
---

<div class="header">
  <div class="header-container">
    {
      header.map((word, index) => (
        <div class={`header-text-container ${index === 0 ? "first" : "last"}`}>
          <h1>{word}</h1>
        </div>
      ))
    }
  </div>
</div>

<style lang="sass">
  .header
    margin-block: 80px
    display: flex

    &-container
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 12px

    &-text-container.first
      font-size: var(--text-large)

    &-text-container
      overflow-y: hidden
</style>

<script>
  import { animation } from "./animation";
  // Asegura que el DOM esté listo
  document.addEventListener("DOMContentLoaded", () => {
    animation();
  });
</script>
