---
import Wrapper from "./Wrapper.astro";
---

<section>
  <div class="loader">
    <div class="clip top"></div>
    <div class="clip center"><h1 class="title">DIEGO CANO</h1></div>
    <div class="clip botton"></div>
  </div>
</section>

<script>
  import { timeline, animate } from "motion";

  document.addEventListener("DOMContentLoaded", function () {
    animate(".top", { clipPath: "inset(0 0 25% 0)" }, { duration: 2 });
    animate(".botton", { clipPath: "inset(25% 0 0 0)" }, { duration: 2 });
  });
</script>

<style>
  .loader {
    height: 100vh;
    width: 100vw;
  }
  .clip {
    position: absolute;
    height: 50%;
    width: 100%;
  }
  .top {
    top: 0;
    background-color: #000;
    clip-path: inset(0 0 0 0);
  }
  .center {
    top: 33.3vh;
    border: 1px solid brown;
    z-index: -1;
  }
  .botton {
    bottom: 0;
    background-color: #000;
    clip-path: inset(0 0 0 0);
  }
</style>
