---
import Header from "../Header/Header.astro";
import Hero from "../Hero/Hero.astro";
import AboutMe from "../AboutMe/AboutMe.astro";
import Projects from "../Projects/Projects.astro";
import SectionContainer from "../SectionContainer/SectionContainer.astro";
---

<Header />
<div class="flex-container">
  <AboutMe />
  <Hero />
</div>
<SectionContainer sectionTitle="My Projects" sectionOrder="02">
  <Projects />
</SectionContainer>
<SectionContainer sectionTitle="Contact Me" sectionOrder="03" />

<style>
  .flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
  }
</style>
