---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --font-size-sm: clamp(0.75rem, -0.1vw + 0.77rem, 0.62rem);
    --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
    --font-size-md: clamp(1.33rem, 0.21vw + 1.28rem, 1.62rem);
    --font-size-lg: clamp(1.78rem, 0.62vw + 1.62rem, 2.62rem);
    --font-size-xl: clamp(2.37rem, 1.38vw + 2.02rem, 4.24rem);
    --font-size-xxl: clamp(3.16rem, 2.74vw + 2.47rem, 6.85rem);
    --font-size-xxxl: clamp(4.21rem, 5.1vw + 2.93rem, 11.09rem);
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-inline: 2rem;
  }
  html {
    font-family: "DM Mono", monospace;
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
  }

  body {
    margin: 0;
  }

  hr {
    height: 0;
    color: inherit;
  }

  abbr[title] {
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono",
      Menlo, monospace;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }
  p {
    font-size: var(--font-size-sm);
    margin: 0;
  }
  h1 {
    font-size: var(--font-size-xl);
    margin: 0;
  }

  h2 {
    font-size: var(--font-size-base);
    font-weight: 300;
  }

  h3 {
    font-size: var(--font-size-sm);
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.563em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  :-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  legend {
    padding: 0;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  summary {
    display: list-item;
  }

  a {
    color: inherit; /* Prevents the blue color, inherits from parent */
    text-decoration: none; /* Removes the underline */
    background-color: transparent; /* Removes any background */
    -webkit-text-decoration-skip: objects; /* Skip descenders in iOS */
  }

  /* Optional: You might want to add focus and active styles to maintain accessibility */
  a:focus,
  a:active {
    outline: none; /* Removes the outline, but consider replacing it with a custom style for accessibility */
    border: none; /* Removes any border */
  }

  /* To remove the tap highlight color in mobile browsers */
  a:active,
  a:hover {
    outline: 0;
    border: none;
    background-color: transparent;
  }

  /* To remove the text decoration when hovering (if you want to) */
  a:hover,
  a:visited:hover {
    text-decoration: none;
  }

  /* To reset font style if needed */
  a {
    font-style: normal;
    font-weight: normal;
  }
</style>
